.df {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.fw-w {
    flex-wrap: wrap;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fie {
    float: inline-end;
}

.fis {
    float: inline-start;
}

.m20 {
    margin: 20px;
}